In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from matplotlib import pyplot as plt
import pickle

In [17]:
tdf = pd.DataFrame(
    [(lambda x: (int(x[0]), int(x[1]), int(x[2])) if len(x) == 3 else (np.nan, np.nan, np.nan))(line.split(" ")) for line in open("direct_both.ssd")]
).dropna()

In [22]:
tdf

           0    1  2
0       6058  535  0
1          0  606  0
2       6059  535  0
3       6060  630  0
4       6060  559  0
5       6061  553  0
6       6061  630  0
7       6062  630  0
8       6062  559  0
9       6063  630  0
10      6063  559  0
11      6064  630  0
12      6064  559  0
13      6065  630  0
14      6065  559  0
15      6066  630  0
16      6066  559  0
17         4  535  0
18         5  630  0
19         5  559  0
20      6067  630  0
21      6067  559  0
22      6068  630  0
23      6068  559  0
24      3038  630  0
25      3038  559  0
26         6  630  0
27         6  559  0
28         7  630  0
29         7  559  0
...      ...  ... ..
505491  5856   44  1
505492  5856   67  1
505493  5856  148  1
505494  8013    4  1
505495  8013   23  1
505496  8013   32  1
505497  8013  224  1
505498  8013    6  1
505499  8013   25  1
505500  8013    5  1
505501  8013   24  1
505502  8013   22  1
505503  8013  377  1
505504  8013   53  1
505505  8013  148  1
505506  6832    4  1
505507  6832    6  1
505508  6832    5  1
505509  2072    4  1
505510  2072    6  1
505511  2072    5  1
505512  4423    4  1
505513  4423    6  1
505514  4423    5  1
505515  4174    4  1
505516  4174    6  1
505517  4174    5  1
505518   938    4  1
505519   938    6  1
505520   938    5  1

[505521 rows x 3 columns]

In [24]:
tdf.groupby(2).count()

        0       1
2
0  386321  386321
1  119200  119200

In [19]:
df = pickle.load(open("direct_both.pd.pkl"))

In [21]:
df.apply(lambda r: len(r["r"]), axis=1)

0         53
1         22
2         17
3         28
4         29
5         22
6         30
7         29
8          7
9         29
10        29
11        19
12        30
13         8
14        27
15        32
16        22
17        35
18        28
19        22
20        52
21        31
22        30
23        33
24        20
25        27
26        34
27        29
28        23
29        97
        ...
11268     19
11269     15
11270     26
11271    111
11272     10
11273     36
11274     27
11275    115
11276     26
11277     10
11278     10
11279      7
11280     30
11281      2
11282     15
11283     27
11284     30
11285     24
11286     19
11287     30
11288     24
11289     22
11290     20
11291     23
11292     20
11293     24
11294     23
11295     16
11296     10
11297     15
dtype: int64

In [5]:
entdicf = "entdic3hops.pkl"
reldicf = "reldic3hops.pkl"
triplesf = "triples3hops.pd.pkl"
allrelsf = "allrel3hops.pd.pkl"
typesf = "../dbpedia/dbpcore.nt.types.dok"
bigentdicf = "../dbpedia/dbpcore.nt.entdic.ssd"

In [6]:
entdic = pickle.load(open(entdicf))
reldic = pickle.load(open(reldicf))

In [7]:
reventdic = {v: k for k, v in entdic.items()}
revreldic = {v: k for k, v in reldic.items()}

In [8]:
reventdic[535]

'http://dbpedia.org/resource/Gary_Sinise'

In [9]:
reventdic[31]

'http://dbpedia.org/resource/Joe_Roth'

In [10]:
reventdic[9105]

'http://dbpedia.org/resource/Avengers:_Age_of_Ultron'

In [11]:
entdic["http://dbpedia.org/resource/Alfred_Hitchcock"]

94

In [12]:
reldic["http://dbpedia.org/ontology/foundedBy"]

409